.featchers {
    padding-left: 10px;
    padding-right: 10px;
}
.featchers_title {
    font-style: normal;
        font-weight: 600;
        font-size: 38px;
        line-height: 36px;
        text-align: center;  
        color: #45515F;
        margin-bottom: 50px;
}
.featcher_card_wrap {
    background: rgba(255, 255, 255, 0.95);
        box-shadow: 0px 4px 44px rgba(84, 104, 123, 0.05);
        backdrop-filter: blur(12px);
        border-radius: 22px;
        margin-bottom: 30px;
        padding: 30px 25px;
        max-height: 516px;
        @media screen and (min-width: 768px) and (max-width: 1199px){
                margin-right: 20px;
                &:nth-child(even) {
                    margin-right: 0;
                }
            }
                        @media screen and (min-width: 1200px) {
                            margin-right: 20px;
                            
                                &:last-child {
                                    margin-right: 0;
                                }
                        }
}

.featcher_card_wrap_wrap {
    
    @media screen and (min-width: 768px) {
            display: flex;
        }
}

.feather_card_img {
    margin-bottom: 25px;
}
.featchers_card_title {
font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #45515F;
    margin-bottom: 20px;
}
.featchers_card_city {
font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #93A0AB;
    margin-bottom: 20px;
}
.featchers_card_after_title {
font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #536473;
    margin-bottom: 30px;
}

.featcher_btn_wrap {
    display: none;
    @media screen and (min-width: 768px) {
            display: flex;
            justify-content: center;
            margin-bottom: 55px;
        }
}
.primary_btn_feathers {
    margin-bottom: 10px;
    @media screen and (min-width: 768px) {
            margin: 0;
            margin-right: 10px;
        }
}
.featchers_btn {
    font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        color: #45515F;
        border: 1px solid #C9D2DD;
            border-radius: 8px;
            padding: 21px 31px;
            display: block;
            margin: 0 auto;
            @media screen and (min-width: 768px) {
                    margin: 0;
                }
}

