footer {
    position: relative;
    background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    background-image: url(../images/footer_background.png);
   padding: 25px 10px;
@media screen and (min-width: 768px) {
        background-image: url(../images/footer_background_768.png);
    }
}
.tel {
font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 20px;
    @media screen and (min-width: 768px) {
            margin-right: 130px;
            margin-left: 130px;
            margin-top: 0;
            margin-bottom: 0;
        }
                @media screen and (min-width: 1200px) {
                    margin-left: 550px;
                }
}
.mail {
font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    margin-bottom: 32px;
@media screen and (min-width: 768px) {
        display: inline-block;
    }
    
}
.footer_nav_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    &::after {
            content: '';
                left: 0;
                bottom: -1px;
                width: 100%;
                display: block;
                
                border-radius: 2px;
                border: 1px solid rgba(255, 255, 255, 0.2);
    }
        @media screen and (min-width: 768px) {
            display: block;
        }
                @media screen and (min-width: 1200px) {
                   margin-bottom: 30px;
                }
               
}
.footer_second_nav_wrap {
   padding: 30px 0;
   text-align: center;
&::after {
        content: '';
        left: 0;
        bottom: -1px;
        width: 100%;
        display: block;

        border-radius: 2px;
        border: 1px solid rgba(255, 255, 255, 0.2);
    }
        @media screen and (min-width: 1200px) {
            padding: 0;
            margin: 0;
            position: absolute;
            top: 10px;
            left: 230px;
            &::after {
                    display: none;
                }
        }
        
}

.footer_why_us {
    font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        margin-right: 9px;
        @media screen and (min-width: 768px) {
                margin-right: 50px;
            }
}
.footer_about {
    font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        margin-right: 9px;
        @media screen and (min-width: 768px) {
                margin-right: 50px;
            }
}
.footer_qna {
    font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        display: inline-block;
        margin-bottom: 30px;
}
.credit_list {
    font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 30px;
}
.credit_list_desc {
    font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        color: #FFFFFF;
        margin-bottom: 30px;
        
        &::after {
                content: '';
                left: 0;
                width: 100%;
                display: block;
                border-radius: 2px;
                border: 1px solid rgba(255, 255, 255, 0.2);
                margin-top: 30px;
            }
}
.how_cards {
    font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
        text-align: center;
        margin-bottom: 20px;
        @media screen and (min-width: 768px) {
                display: inline-block;
                margin-right: 100px;
                text-align: start;
            }
                      
}
.footer_wallets_wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    @media screen and (min-width: 768px) {
            display: inline-block;
            margin-bottom: 0;
        }
                 @media screen and (min-width: 1200px) {
                     margin-right: 230px;
                 }
}

.footer_wallet_visa {
    @media screen and (min-width: 768px) {
            display: inline-block;
            margin-right: 30px;
        }
}
.footer_wallet_mater_card {
    @media screen and (min-width: 768px) {
            display: inline-block;
        }
}
.personal_wrap {
    border: 1px solid #FFFFFF;
    padding: 22px 50px;
    text-align: center;
    margin-bottom: 30px;
    @media screen and (min-width: 1200px) {
            display: inline-block;
        }
}

.personal_data {
    font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #FFFFFF;
        @media screen and (min-width: 768px) {
                display: inline-block;
                margin-right: 5px;
            }
}
.personal_data_link {
    font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #FFFFFF;
text-decoration: underline;

}
.accepting {
font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.accepting_desc {
font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    &::after {
            content: '';
            left: 0;
            bottom: -1px;
            width: 100%;
            display: block;
    
            border-radius: 2px;
            border: 1px solid rgba(255, 255, 255, 0.2);
        }
                @media screen and (min-width: 768px) {
                    margin-bottom: 30px;
                }
    
}
    .accepting_desc_span {
        margin-top: 20px;
        display: block;
        margin-bottom: 20px;
        
    }

    .adult_img {
    margin: 40px auto;
    @media screen and (min-width: 768px) {
        margin: 0;
        margin-right: 30px;
        margin-left: 75px;
                margin-bottom: -20px;
                display: inline-block;
        }
            @media screen and (min-width: 1200px) {
                margin-left: 300px;
            }
    }
    .credits {
        font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            color: #FFFFFF;
            padding: 0 40px;
            margin-bottom: 35px;
            @media screen and (min-width: 768px) {
                    display: inline-block;
                    padding: 0;
                
                }
    }

    .unsubscribe {
        font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;    
            text-transform: uppercase;
            color: #FEFEFE;
            border: 1px solid #FEFEFE;
                border-radius: 8px;
                padding: 13px 30px;
                background: none;
    }
    .links_wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 15px;
        @media screen and (min-width: 768px) {
                justify-content: space-evenly;
                padding: 0 130px;
            }
    }
    .container_footer {
        position: relative;
    }