
header {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 15px;

    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    @media screen and (min-width: 768px) {
            align-items: center;
        }
    
}
.header_hero_wrap {
    background-image: url(../images/hero_bg.png);
    background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        @media screen and (min-width: 768px) {
                background-image: url(../images/hero_bg_768.png);
            }
}
.fire {
    font-size: 30px;
    color: #fff;
}
.money {
    font-weight: 900;
    font-size: 30px;
    color: #fff;
}
.log_in_btn {
    background-color: #FF7B00;
    padding: 13px 21px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #FFFFFF;

    border-radius: 8px;
    transition: .25s ease-out;
    
        &:hover {
            transform: scale(101%);
    
            box-shadow: 0px 1px 1px rgb(0 0 0 / 12%),
                0px 4px 4px rgb(0 0 0 / 6%),
                1px 4px 6px rgb(0 0 0 / 16%);
        }
                 @media screen and (min-width: 768px) {
                     width: 175px;
                     height: 50px;
                 }
}

.header_nav_wrap {
    display: none;
    @media screen and (min-width: 768px) {
            display: flex;
            align-items: center;
        }
}

.header_why_us {
font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-right: 40px;
}
.header_about {
font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-right: 40px;
}
.header_qna {
font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}