.hero {
    padding-left: 10px;
    padding-right: 10px;
}

.fire_img {
    position: absolute;
    z-index: 1;
    top: 80px;
}

.hero_fire_btn {
    padding-left: 53px;
    padding-right: 10px;
    padding-top: 14px;
    padding-bottom: 14px;
font-weight: 600;
font-size: 20px;
line-height: 24px;
text-transform: uppercase;
color: #3C4260;
position: relative;
background: rgba(255, 255, 255, 0.95);
backdrop-filter: blur(12px);
border-radius: 12px;
margin-bottom: 25px;
}

.hero_title {
    font-weight: 600;
    font-size: 36px;
    line-height: 111.5%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

