.how_get {
    padding: 20px 10px;
}
.how_get_title {
    font-style: normal;
        font-weight: 600;
        font-size: 38px;
        line-height: 33px;
        text-align: center; 
        color: #45515F;
        margin-bottom: 50px;
}
.how_get_card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
    position: relative;
    @media screen and (min-width: 768px) {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            text-align: center;
        }
    
}

.how_get_card_img {
    @media screen and (min-width: 768px) {
            margin-bottom: 40px;
            height: 73px;
        }
}
.how_get_card_wrap {
    @media screen and (min-width: 768px) {
        display: flex;
            display: flex;
            justify-content: space-between;
        }
    
}
.how_get_list_number {
    font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 145.5%;
        text-align: center;
        color: #FFFFFF;
        padding: 4px 10px;
        border-radius: 50%;
        background-color: #FFA147;
        @media screen and (min-width: 768px) {
                margin-bottom: 40px;
            }
}
.one {
    padding: 3.5px 11.5px;
}
.how_get_list_title {
    font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 132%;
        color: #45515F;
        width: 150px;
}
