.take_money_title {
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 40px;
    text-align: center;
    color: #45515F;
    margin-bottom: 30px;
}

.take_money_after_title {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 133.5%;
    text-align: center;
    color: #536473;
}

.take_money_title_wrap {
    padding: 40px 10px;
}

.take_money_img {
    margin: 0 auto;
}